<ion-content>
  <div id="container">
    <ion-card *ngFor="let card of config.cards;">
      <ion-card-header>
        <ion-card-title>{{card.title}}</ion-card-title>
        <ion-card-subtitle>
          {{card.company}} 
          <br />
          ({{card.startDate | date:'MMM yyyy'}} - {{card.endDate == null ? 'Present' : (card.endDate | date:'MMM yyyy')}})
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ul>
          <li *ngFor="let item of card.bullets;">{{item}}</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
