<ion-content>
  <div id="container">
    <ion-text color="primary">
      <h1>Want to connect?</h1>
    </ion-text>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a [href]="'mailto:' + config.email"><ion-icon size="large" name="mail"></ion-icon></a>
        </ion-col>
        <ion-col size="4">
          <a [href]="config.linkedin"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>
        </ion-col>
        <ion-col size="4">
          <a [href]="config.github"><ion-icon size="large" name="logo-github"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
